openapi: 3.2.0
info:
  title: Aviation Edge Real-Time Schedules API
  version: v2
  description: 'Aviation Edge provides global aviation data: real-time flight tracking, historical and future airport
    schedules, airline routes, NOTAMs, satellite tracking, and static airport, airline, aircraft, city, country,
    tax and timezone databases. Every endpoint is JSON over HTTPS GET and requires an API key passed as the `key`
    query parameter. Errors are returned as HTTP 200 with an `{"error"|"message": ..., "success": false}` envelope
    on most endpoints; /flightsHistory and /flightsFuture answer HTTP 400 when a required parameter is missing.'
  contact:
    name: Aviation Edge
    url: https://aviation-edge.com/contact/
  termsOfService: https://aviation-edge.com/api-terms-of-service/
externalDocs:
  url: https://aviation-edge.com/developers/
  description: Aviation Edge developer documentation
x-provenance:
  generated: '2026-09-04'
  method: searched
  source: 'Harvested from Aviation Edge first-party sources: the provider GitHub account github.com/AviationEdgeAPI
    (Aviation-Edge-Complete-API, Notam-API, Satellite-Tracker-API, Airport-Schedules-API, Historical-Schedules-API,
    Future-Schedules-API, Airline-Routes-API, Autocomplete-API, Static-Aviation-APIs READMEs) and the developer
    documentation at https://aviation-edge.com/developers/. Paths and required parameters were confirmed with unauthenticated
    live probes against https://aviation-edge.com/v2/public/ on 2026-09-04.'
servers:
- url: https://aviation-edge.com/v2/public
  description: Aviation Edge public v2 API
security:
- ApiKeyAuth: []
tags:
- name: Schedules
  description: Airport schedules and flight timetables
paths:
  /timetable:
    get:
      tags:
      - Schedules
      summary: Real-time airport timetable
      description: Returns the real-time departure or arrival timetable of an airport, including delays, gates,
        terminals and cancellations. Covers roughly a twelve hour window around the current time and updates about
        every 15 minutes.
      operationId: getTimetable
      parameters:
      - $ref: '#/components/parameters/Key'
      - name: iataCode
        in: query
        schema:
          type: string
        required: true
        description: Airport IATA code
      - name: type
        in: query
        schema:
          type: string
          enum:
          - departure
          - arrival
        required: true
        description: departure or arrival
      - name: airline_iata
        in: query
        schema:
          type: string
        description: Filter by airline IATA code
      - name: status
        in: query
        schema:
          type: string
          enum:
          - scheduled
          - active
          - landed
          - cancelled
          - incident
          - diverted
          - redirected
        description: Filter by flight status
      responses:
        '200':
          description: Real-time airport timetable result set. An error is also returned with HTTP 200 and the Error
            envelope.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleFlight'
              examples:
                sample:
                  summary: Published provider example
                  value:
                  - airline:
                      iataCode: WS
                      icaoCode: WJA
                      name: WestJet
                    arrival:
                      actualRunway: '2022-01-24T23:48:00.000'
                      actualTime: '2022-01-24T23:48:00.000'
                      baggage: null
                      delay: '19'
                      estimatedRunway: '2022-01-24T23:48:00.000'
                      estimatedTime: '2022-01-24T23:29:00.000'
                      gate: A15
                      iataCode: IAH
                      icaoCode: KIAH
                      scheduledTime: '2022-01-24T23:29:00.000'
                      terminal: A
      externalDocs:
        url: https://aviation-edge.com/flight-schedule-and-timetable-of-airlines-and-airports/
        description: Provider documentation
  /flightsFuture:
    get:
      tags:
      - Schedules
      summary: Future airport schedules
      description: Returns the departure or arrival schedule of an airport for a future date, up to one year ahead.
        Dates within seven days of today are not served.
      operationId: getFutureFlights
      parameters:
      - $ref: '#/components/parameters/Key'
      - name: iataCode
        in: query
        schema:
          type: string
        required: true
        description: Airport IATA code
      - name: type
        in: query
        schema:
          type: string
          enum:
          - departure
          - arrival
        required: true
        description: departure or arrival
      - name: date
        in: query
        schema:
          type: string
        required: true
        description: Future date, YYYY-MM-DD
      - name: arr_iataCode
        in: query
        schema:
          type: string
        description: Filter a departure schedule by arrival airport IATA code
      - name: dep_iataCode
        in: query
        schema:
          type: string
        description: Filter an arrival schedule by departure airport IATA code
      responses:
        '200':
          description: Future airport schedules result set. An error is also returned with HTTP 200 and the Error
            envelope.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureFlight'
              examples:
                sample:
                  summary: Published provider example
                  value:
                  - weekday: '1'
                    departure:
                      iataCode: mty
                      icaoCode: mmmy
                      terminal: c
                      gate: f2
                      scheduledTime: '20:35'
                    arrival:
                      iataCode: iah
                      icaoCode: kiah
                      terminal: d
                      gate: d12
                      scheduledTime: '22:00'
                    aircraft:
                      modelCode: a320
                      modelText: airbus a320-232
                    airline:
                      name: vivaaerobus
                      iataCode: vb
                      icaoCode: viv
                    flight:
                      number: '616'
                      iataNumber: vb616
                      icaoNumber: viv616
        '400':
          description: A required parameter is missing. Observed by live probe 2026-09-04.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missingParam:
                  value:
                    message:
                      type: 'Missing param: type (str)'
      externalDocs:
        url: https://aviation-edge.com/future-flight-schedules-and-timetables-of-airports-api/
        description: Provider documentation
components:
  parameters:
    Key:
      name: key
      in: query
      required: true
      schema:
        type: string
      description: Aviation Edge API key
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message returned for some endpoints
        message:
          type: string
          description: Error message returned for other endpoints; may also be an object keyed by the missing parameter
        success:
          type: boolean
          description: Always false on an error response
      description: Aviation Edge error envelope. Most endpoints return HTTP 200 with this body when the API key
        is missing or invalid; /flightsHistory and /flightsFuture return HTTP 400 for a missing required parameter.
        Observed by live probe 2026-09-04.
      examples:
      - message: Missing API Key
        success: false
      - error: Invalid API Key
        success: false
    FutureFlight:
      type: object
      properties:
        weekday:
          type: string
          description: Day of the week of the flight, "1" being Monday
        departure:
          type: object
          properties:
            iataCode:
              type: string
            icaoCode:
              type: string
            terminal:
              type: string
            gate:
              type: string
            scheduledTime:
              type: string
        arrival:
          type: object
          properties:
            iataCode:
              type: string
            icaoCode:
              type: string
            terminal:
              type: string
            gate:
              type: string
            scheduledTime:
              type: string
        aircraft:
          type: object
          properties:
            modelCode:
              type: string
            modelText:
              type: string
        airline:
          type: object
          properties:
            iataCode:
              type: string
            icaoCode:
              type: string
            name:
              type: string
        flight:
          type: object
          properties:
            number:
              type: string
            iataNumber:
              type: string
            icaoNumber:
              type: string
      description: A future-dated schedule record, generated from historical schedule data.
    ScheduleFlight:
      type: object
      properties:
        type:
          type: string
          description: departure or arrival
        status:
          type: string
          description: scheduled, active, landed, cancelled, incident, diverted or redirected
        airline:
          type: object
          properties:
            iataCode:
              type: string
            icaoCode:
              type: string
            name:
              type: string
        departure:
          type: object
          properties:
            iataCode:
              type: string
            icaoCode:
              type: string
            terminal:
              type: string
            gate:
              type: string
            baggage:
              type: string
            delay:
              type: string
              description: Delay in minutes
            scheduledTime:
              type: string
            estimatedTime:
              type: string
            actualTime:
              type: string
            estimatedRunway:
              type: string
            actualRunway:
              type: string
        arrival:
          type: object
          properties:
            iataCode:
              type: string
            icaoCode:
              type: string
            terminal:
              type: string
            gate:
              type: string
            baggage:
              type: string
            delay:
              type: string
              description: Delay in minutes
            scheduledTime:
              type: string
            estimatedTime:
              type: string
            actualTime:
              type: string
            estimatedRunway:
              type: string
            actualRunway:
              type: string
        flight:
          type: object
          properties:
            number:
              type: string
            iataNumber:
              type: string
            icaoNumber:
              type: string
        codeshared:
          type:
          - object
          - 'null'
          properties: {}
          description: Populated when the flight is a codeshare; see https://aviation-edge.com/codeshares-object-description/
      description: An airport timetable record. The same shape is returned by the real-time /timetable and the historical
        /flightsHistory endpoints.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: key
      description: API key issued with an Aviation Edge subscription, passed as the `key` query parameter.
